// - Purplish blue: hsl(243, 100%, 62%)
// - Pastel blue: hsl(228, 100%, 84%)
// - Strawberry red: hsl(354, 84%, 57%)

// ### Neutral
// - White: hsl(0, 0%, 100%)

:root {
	--clr-indicator-bg: hsl(206, 94%, 87%); //Light blue
	--clr-primary-title: hsl(213, 96%, 18%); //Marine blue
	--clr-primary-subtitle: hsl(231, 11%, 63%); //Cool gray

	--clr-gray-light-400: hsl(229, 24%, 87%); //Light gray
	--clr-gray-light-500: hsl(217, 100%, 97%); //Magnolia (lighter gray)
	--clr-gray-light-600: hsl(231, 100%, 99%); //Alabaster (even much lighter gray)

	--clr-input-border-focused: hsl(243, 100%, 62%);
	--clr-error: hsl(354, 84%, 57%);
}

body {
	background-color: var(--clr-gray-light-500);
}
.slider,
.btn,
.btn--next {
	background-color: var(--clr-primary-title);
	color: var(--clr-gray-light-600);
}

.btn--submit {
	background-color: var(--clr-input-border-focused);
}

.form-group input,
.form-group-label__yearly,
.primary-title,
.form-group__summary--addons--price {
	color: var(--clr-primary-title);
	// color: hsl(243, 100%, 62%);
}

.card__desc,
.form-group-label__desc,
.form-group input::placeholder,
.btn--previous,
#goBackToStepTwoLink,
.form-group__summary--addons--title,
.form-group__total--title,
.page-indicator__title {
	color: var(--clr-primary-subtitle);
}

.form-group.flex.active,
.plans,
.form-group__summary {
	background-color: var(--clr-gray-light-500);
}

.form-group-label__desc--withcolor,
.form-group__total--price {
	color: var(--clr-input-border-focused);
}

.page-indicator__desc {
	color: white;
}
